@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white;" ng-init="direction = forward;">
    <h1>ASP.NET</h1>
    <p class="lead">SignalR ProcessBar Simple Example</p>
    <button ng-click="openProgress('forward')" type="button" class="btn btn-primary btn-success">Start the progress</button>
    <button ng-click="openProgress('reverse')" type="button" class="btn btn-primary btn-success">Start the progress in reverse</button>
</div>